/*
	TinyEMDR - Eye Movement Desensitization and Reprocessing tool
    Copyright (C) 2022-2023 Michael Cistera

	If you have suggestions, feedback, or otherwise wish to contact me,
	please email emdrtool@mail.com

    This file is part of TinyEMDR.

    TinyEMDR is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TinyEMDR is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

.ui-selectmenu-button.ui-button{
	width: auto;
}

.fake-disable, .ui-state-disabled {
	opacity: .55;
	background-color: #d5d5d5;
}

body {
   margin: 0px;
   padding: 0px;
   background-color: #eeeeee;
   font-size: 1.2em;
   overflow-x: hidden;
   overflow-y: hidden;
}

canvas{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p {
	margin: 0px;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

label {
	padding-right: 0.5em;
	width: 5em;
}

.slider {
	width: 100%;
}

.amount {
	width:4em;
	border:0;
	color:#f6931f;
	font-weight:bold;
	clear:right;
	background-color: #eeeeee;
}

#leftmenu {
	width: 50%;
	padding: 0 1em;
	margin: 0;
	box-sizing: border-box;
}

h3 {
	margin-block-start: 0;
	margin-block-end: 0;
}
.preset {
	display: inline;
	margin-bottom: 0.5em;
}
#preset-tray {
	padding: 1em 0em 0em 0em;
}

#rightmenu {
	display: flex;
	width:50%;
	box-sizing: border-box;
}
#sliders {
	padding-bottom: 0.5em;
	display: table;
	border-spacing: 0.4em;
}

#menubar {
	display: flex;
	flex-flow: row nowrap;
}

label, .amount, .slider{
	display: table-cell
}


.row {
	display: table-row;
}

select {
	display:inline-block;
}

.donate {
	color: #e59202 !important;
	font-size: 1em;
}

.nocursor {
	cursor: none !important;
}

.button-row {
  display: flex;
  align-self: end;
  margin-top: 1em;
}

.timer-row {
	display: flex;
	margin-top: auto;
	margin-bottom: 2em;
	align-self: center;
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-self: end;
	justify-content: left;
}

.right-buttons {
	display: flex;
	margin-top: 0.5em;
	margin-right: 0.5em;
	margin-left: auto;
	flex-direction: column;
	align-items: end;
}

.small-header {
	font-size: 1em;
	font-weight: normal;
}


/* If not enough height for canvas to display sufficiently, add scrollbar */
@media only screen and (max-height: 518px){
	body {
		overflow-y: scroll;
	}
}

/* Change layout for portrait mode */
@media only screen and ((max-width: 800px) or (orientation:portrait)) {

	/* If not enough height for canvas to display sufficiently, add scrollbar */
	@media only screen and (max-height: 726px){
		body {
			overflow-y: scroll;
		}
	}

	#menubar {
		display: flex;
		flex-flow: column nowrap;
	}
	#leftmenu {
		width: 100%;
	}
	#rightmenu {
		width: 100%;
		padding: 0 1em;
	}
	.row {
		padding: 0.2em;
	}
	#sliders {
		border-spacing: 0.8em;
	}
}